amb {
	color: rgb(255, 188, 0); 
    padding: 5px 2px; 
    font-weight: bold;
}
.amb {
	color: rgb(255, 188, 0); 
    padding: 5px 2px; 
    font-weight: bold;
}
.glose {
	font-weight: bold;
	color: #3fcaff;
	font-size: 20px;
}
ref {
    color: #3fcaff; 
    padding: 5px 2px; 
    font-weight: bold;
}
.ambColor {
    background-color: #2b245d99 !important;
}